/* this are global css style  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





@font-face {
    font-family: miama;
    src: url(fonts/Miama.ttf);
}

.hero-font{
    font-family: miama;
    font-size: 120px;
    font-weight: 400;
}


.font-main{
    font-family: "Inter", sans-serif;
}


.container{
    max-width: 100%;
    padding: 0px 200px;
    margin: 0 auto;
    background-color: black;
    
    
}


.btn-main{
    padding: 15px 35px;
    border-radius: 50px;
    border: none;
    background-color: #E6533C;
    margin-right: 10px;
}

.btn-main a{
    font-size: 18px;
    font-family: inter;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}


.btn-outline{
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px soild #fff;
    margin-right: 10px;
    z-index: 500;
    background-color: black;
}

.btn-outline a{
    font-size: 18px;
    font-family: inter;
    font-weight: 600;
    color: #fff;
    border: nones;
    text-decoration: none;
}






/* Global style are ends here  */







/* Header desktop style start here  */



header{
    background-color: black;
}


.main-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    
}


.header-menu{
   
}


.header-menu-iteam{
    display:flex;
    gap: 50px;
    align-items: center;
    border: 1px rgba(255, 255, 255, 0.219) solid;
    padding: 10px 0px ;
    border-radius: 50px;
    

    
}

.header-menu-iteam li {
    list-style-type: none;
    margin: 1.5px;
    
}




.header-menu-iteam a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #fff ;
    font-weight: 400;
    padding: 10px 20px;
    
    
    
}


.header-logo{
    color: #E6533C;
}

.header-logo h1{
    font-size:36px;
    font-style: italic;
}


.header-menu-iteam a:hover{
    background-color: #E6533C;
    border-radius: 50px;
}


/* desktop header codes ends here  */




/* mobile header code start here  */



.mobile-header{
    display: none;
}









/* hero section style start from here  */



.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.5466561624649859) 0%, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 29%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);

padding: 0px 200px;
}


.hero-content h1{
 
  font-size: 78px;
  font-family: inter;  
  line-height: 95px;
  color: #fff;
  font-weight: 900;
}


.hero-content p{
    font-size: 16px;
    color: gray;
    font-family: inter;
    line-height: 24px;
    margin: 15px 0px;
}


.hero-image{
    position: relative;
}


.tips-box-one h1{
    color: #fff;
    font-family: inter;
    font-size:40px ;
    font-weight: 900;
}
.tips-box-one p{
    color: rgb(95, 95, 95);
    font-family: inter;
    font-size: 13px;
}


.tips-box{
    background-color: #4949496c;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    top:150px;
    right: -10px;
    border: 0.5px solid #2c2c2c23;


}



.tips-box h1{

    color: #fff;
    font-size: 25px;
    font-family: inter;
    font-weight: 900;

    

}


.tips-box p{
    color: #ffffff7c;
}



.tips-box-two{
    background-color: #4949496c ;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    bottom: 80px;
    left: -55px;

}




.circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.tips-box-two{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


.cir-content h1{
    color: #fff;
    font-family: inter;
    font-size: 26px ;

}

.cir-content p{
    color: #ffffff7c ;
}


.fa-play{
    font-size: 25px;
    color: #fff;
    align-items: center;
}


.circle{
    position: relative;
}

.play-btn{
    position: absolute;
    top: 12px;
    right: 10px;
    left: 12px;
    bottom: 10px;
}




/* habits style start here  */


.habits-section{
    padding: 50px 0px;
}


.habits h3{
    color: #fff;
    text-align: center;
    font-family: inter;
    font-family: 18px;
    font-weight: 600;
    padding: 5px 0px;

}

.habits p{
    color: #fff;
    text-align: center;
    color: grey;
    font-family: inter;
    font-size: 16px;
}



.habit-heading{
    padding: 50px 0px;
}


.habit-heading h1{
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-top: 80px;
}

.habit-heading p{
    color: grey;
    text-align: center;
    margin: 15px 0px;
}


.habits img{
    width: 250px;
    height: 250px ;
    border-radius: 50%;
    border: 5px solid rgba(41, 38, 38, 0.651);
    background-size: contain;
    

}




.all-habits{
    display: flex;
    justify-content: center;
    padding: 0px;
    justify-content: space-between;
    
}


.news-section{
    padding: 80px 0px;
    padding: 80px 0px;
}


.newsletter{
    background-color: rgb(39, 38, 38) ;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    gap: 120px;
    
    

}


.news-img img{
    max-width: 500px;
    height: auto;
    border-radius: 16px;
}

.news-content h1{
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    
}

.news-content p{
    font-size: 16px;
    color: grey;
    font-family: inter;
    line-height: 24px;
    padding: 10px 0px;     
   
}





/* training section style start here  */






.training-section{
    padding: 80px 0px;
}





.training-section h1{
     color: #fff;
     font-size: 48px;
}


.training-section p{
    font-size: 16px;
    color: gray;
    padding: 10px 0px;
}



/* exercise section start here  */


.training-section{
    padding: 50px 0px;
}


.exercise{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 25% 50% 25% ;

   
}

.exercise-two{
    display: grid;
    grid-template-columns: 40% 25% 35%;
}

.box-style h3{
    color: #fff;
    font-family: inter;
    font-size: 14px;
    font-weight: 500;
    padding: 50px;
    

}


.box1{
    max-width: 400px;
    height: 300px;
    background-color: #06ffd13f
    ;
    background-image: url(images/exercise1.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    text-align: left;
    display: flex;
    align-items: flex-end;
    
    

}


.box2{
    max-width: 800px;
    height: 300px;
    background: rgba(175, 18, 18, 0.349);
    background-image: url(images/exercise2.png);
    background-blend-mode:overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    
    

}

.box3{
    max-width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.521);
    background-blend-mode: overlay;
    background-image: url(images/exercise3.png);
    background-size: cover;
    align-items: flex-end;
    display: flex
    
    

}


 .box4{
    max-width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.521);
    background-blend-mode: overlay;
    background-image: url(images/exercise4.png);
    background-size: cover;
    text-align: right;

}

.box5{
    max-width: 100%;
    height: 300px;
    background-color: rgba(65, 179, 42, 0.521);
    background-blend-mode: overlay;
    background-image: url(images/exercise5.jpg);
    background-size: cover;
    align-items: flex-end;
    display: flex;
    
    

}


.box6{
    max-width: 100%;
    height: 300px;
    background-color: rgba(82, 116, 168, 0.521);
    background-blend-mode: overlay;
    background-image: url(images/exercise6.jpg);
    background-size: cover;
    align-items: flex-end;
    display: flex;

    
    

}



/* bmi calculator section style start here  */





.calc-section{
    padding: 50px 200px;
    background-color: #222222;;
    max-width: 100%;
    
    
}


.calc-heading{
    padding: 80px  30%;
}

.calc-heading h1{
    
    font-family: inter;
    color: #fff;
    font-weight: 900;
    font-size: 48px;
    
}

.calc-heading p{
    font-size: 16px;
    color: gray;
    padding: 10px 0px;
   
    
}


.calc-chart h1{
    color: #fff;
    font-family: inter;
    font-size: 28px;
    padding: 40px 0px;
    font-weight: 900;
}




.chart-table th{
    color: #fff;
    border: 1px solid #464242;
    padding: 15px 30px;
    font-family: inter;
    font-size: 12px;
    font-family: 500;
    text-align: center;
    
}

.chart-table td{
    border: 1px solid #464242;
    padding: 15px 30px;
    color: #727272d3;
    font-family: inter;
    font-size: 14px;
    
}


.chart-table{
    border-collapse: collapse;
}


.calc-main{
    display: flex;
    justify-content: space-between;
    

}




.calc-form h1{
    color: #fff;
    font-family: inter;
    font-size: 28px;
    padding: 40px 0px 0px 0px;
    font-weight: 900;
}

.calc-form p{
    color: gray;
    font-family: inter;
    font-size: 14px;
    padding: 10px 0px;
}


.custom-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}

.custom-form input[type="number"],
.custom-form input[type="text"],
.custom-form select{
    width: 100%;
    padding: 15px;
    background-color: #383838;
    border: none;
    color: #fff;
    border-radius: 5px;

}




.custom-form select:last-child{
    grid-column: 1 /span 2;
    margin-bottom: 20px;
}




/* team section start here */







.team-header h1{
color: #fff;
font-family: inter;
text-align: center;
font-size: 48px;
padding: 80px 0px 20px 0px ;
font-weight: 900;
}

.team-header p{
    color: gray;
    font-size: 16px;
    font-family: inter;
    text-align: center;
    padding: 10px 0px 80px 0px;
}



.team-section-main{
    padding-bottom: 80px;
}





.team-section{
    background-color:#191919;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px ;
    border-radius: 20px;
    
    

    

}

.team-01{
    background-color: rgba(0, 0, 0, 0.329);
    background-image: url(/images/trainer1.png);
    background-blend-mode: overlay;
    background-size: cover;
    max-width: 550px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    
    
}

.team-02{
    background-color: rgba(0, 0, 0, 0.329);
    background-image: url(/images/trainer2.png);
    background-blend-mode: overlay;
    background-size: cover;
    max-width: 550px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    
    
}


.team-03{
    background-color: rgba(0, 0, 0, 0.329);
    background-image: url(/images/trainer3.png);
    background-blend-mode: overlay;
    background-size: cover;
    max-width: 550px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    
    
}


.team-04{
    background-color: rgba(0, 0, 0, 0.329);
    background-image: url(/images/trainer4.png);
    background-blend-mode: overlay;
    background-size: cover;
    max-width: 550px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    
    
}


.team-05{
    background-color: rgba(0, 0, 0, 0.329);
    background-image: url(/images/trainer5.png);
    background-blend-mode: overlay;
    background-size: cover;
    max-width: 550px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    
    
}


.team-06{
    background-color: rgba(0, 0, 0, 0.329);
    background-image: url(/images/trainer6.png);
    background-blend-mode: overlay;
    background-size: cover;
    max-width: 550px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    
    
}



.team-iteams{
    position: absolute;
    bottom: 10px;
    left: 20px;
}






.team-title{
    color: #fff;
    font-family: inter;
    font-size: 24px;
    
    

    
}

.team-role{
    font-size: 16px;
    font-family: inter;
    color: gray;
    padding: 10px 0px;
    
    

}





/* footer responsive start from here  */




.footer-main{
    background-color: #191919;
    padding: 80px 200px;
    display: flex;
    justify-content: space-between;
    
}


.footer-content h1{
    font-size: 70px ;
    color:#E6533C;
    font-family: inter;
    font-style: italic;
}


.footer-content p{
    color: gray;
    font-size: 16px;
    font-family: inter;
    padding:40px 0px
}


.ft-title{
    font-size: 32px;
    font-family: inter;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}





.ft-menu li{
    list-style-type: none;
    margin: 20px 0px;
    
}

.ft-menu li a{
    text-decoration: none;
    color: gray;
    font-size: 23px;
    
}




.footer-copyright{
    background-color: #191919;
    
}

.footer-cr{
    max-width: 100%;
    padding: 0px 200px;
    
}




.footer-cr h6{
    color: rgba(255, 255, 255, 0.50);
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    padding: 40px 0px;
    
}




