/* this are global css style  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





@font-face {
    font-family: miama;
    src: url(fonts/Miama.ttf);
}

.hero-font{
    font-family: miama;
}


.font-main{
    font-family: "Inter", sans-serif;
}


.container{
    max-width: 100%;
    padding: 0px 200px;
    margin: 0 auto;
    background-color: black;
    
    
}









/* Global style are ends here  */







/* Header desktop style start here  */



header{
    background-color: black;
}


.main-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    
}


.header-menu{
   
}


.header-menu-iteam{
    display:flex;
    gap: 50px;
    align-items: center;
    border: 1px rgba(255, 255, 255, 0.219) solid;
    padding: 10px 0px ;
    border-radius: 50px;
    

    
}

.header-menu-iteam li {
    list-style-type: none;
    margin: 1.5px;
    
}




.header-menu-iteam a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #fff ;
    font-weight: 400;
    padding: 10px 20px;
    
    
    
}


.header-logo{
    color: #E6533C;
}

.header-logo h1{
    font-size:36px;
    font-style: italic;
}


.header-menu-iteam a:hover{
    background-color: #E6533C;
    border-radius: 50px;
}


/* desktop header codes ends here  */




/* mobile header code start here  */



.mobile-header{
    display: none;
}



.mobile-header h1{
    color: #E6533C;
    font-size: 35px;
    font-style: italic;
    font-family: inter;

}






/* hero section style start from here  */



.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.5466561624649859) 0%, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 29%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);

padding: 0px 200px;
}







